.wwnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display:flex;

    background-color: rgba(0,116,217,255);
}

.wwlink {
    float: left;
}

.wwa {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
}

.wwlink .wwa:hover {
    background-color: deepskyblue;
}